@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);

}

img{
    max-width: 100%;
}

body{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    background-color: var(--dark-grayish-blue);
    padding: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 0.1px);
}

p{
    font-size: 28px;
    line-height: 1.5;
}

.container{
    background-color: var(--grayish-blue);
    padding: 1.25rem;
    border-radius: 1rem;
    position: relative;
}

.container h1{
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 0.825rem;
    margin-bottom: 1rem;
}

.container p{
    margin-bottom: 2rem;
    color: var(--light-cyan);
}

.container picture img {
    background-color: var(--grayish-blue);
    position: relative;
    margin-bottom: 1rem;
  }
  
  .container picture::before {
    content: "";
    width: 40%;
    height: 1px;
    background-color: var(--light-cyan);
    right: 1.7rem;
    bottom: 2.9rem;
    position: absolute;
    display: block;
    z-index: 99;
  }
  
  .container picture::after {
    content: "";
    width: 45%;
    height: 1px;
    background-color: var(--light-cyan);
    left: 0;
    bottom: 1.7rem;
    position: relative;
    display: block;
  }

.container button{
    background-color: var(--neon-green);
    padding: 1.25rem;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.container button:hover{
    background-color: hsl(150, 53%, 44%);
}

@media (min-width: 500px){
    .container{
        max-width: 480px;
    }
}